/IS2004Session/nbproject/private/
/IS2004Session/build/
/IS2004_StudentManagement/nbproject/private/
/IS2004_StudentManagement/build/
/IS2004_ProductManagement/nbproject/private/
/IS2004_ProductManagement/build/
/IS2004_ProductManagement/dist/
